{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/agregar_alumno.css' %}">
{% endblock %}

{% block title %}Aplicacion{% endblock %}

{% block content %}

<main class="container">


    <h1>
        {{ titulo }}
    </h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre: </th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Curso</th>
            <th scope="col">Activo?</th>
            <th scope="col">Turno</th>
            <th scope="col">Fecha de ingreso</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% if alumnos %}
            {% for alumno in alumnos %}
                <tr>
                    <th scope="row">{{alumno.id}}</th>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.dni}}</td>
                    <td>{{alumno.edad}}</td>
                    <td>{{ alumno.get_sexo_display|default:alumno.sexo  }}</td>
                    <td>{{ alumno.curso.nombre|default:"N/A" }}</td>
                    <td>{{alumno.activo}}</td>
                    <td>{{ alumno.get_turno_display|default:alumno.turno }}</td>
                    <td>{{alumno.fecha_ingreso}}</td>
                    <td>X - ✍️</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
        <h3 class="text-danger">No hay alumnos</h3>
    {% endif %}


</main>


{% endblock %}

{% block extra_scripts %}

{% endblock %}