<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="#">App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listar_alumnos' %}">Listar alumnos</a>
          </li>
          {% if user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agregar_alumno' %}">Agregar alumno</a>
          </li>
          {% endif %}
          {% if perms.gestion %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
           </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated  %}

        {% comment %} <a href="{%  url 'my_logout' %}" class="btn btn-outline-primary">Logout "{{user}}"</a> {% endcomment %}
          <p type="text" style="display: inline" class="">Bienvenido\a, {{ user.username }}.</p>
          <a type="text" style="display: inline" href="{% url 'password_change' %}" class="">Cambiar password</a>
          {% comment %} <form id="logout-form" method="post" action="{% url 'admin:logout' %}"> {% endcomment %}
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"
              class="btn btn-outline-primary me-2"
              >Cerrar sesión</button>
          </form>
        {% else %}
        {% comment %} <a href="{%  url 'my_login' %}" class="btn btn-outline-primary">Login</a> {% endcomment %}
          <a href="{%  url 'login' %}" class="btn btn-outline-primary">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>